<div class="d-flex flex-row justify-content-start align-items-stretch">
  <app-order-search
    class="col-2"
    (submitted)="onNewSearch($event)"
    (pageCount)="onPageChange($event)"
    [count]="count"
    [page]="page"
  ></app-order-search>
  <div class="col-10 d-flex flex-wrap over-flow-auto overflowScss" #ordersPage>
    <div class="mx-2 widthOfCard"  *ngFor="let order of orders">
      <app-order-card class="widthOfCard" [order]="order"></app-order-card>
    </div>
  </div>
</div>
<button
  (click)="scrollToTop()"
  type="button"
  class="btn btn-dark btn-floating btn-lg"
  id="btn-back-to-top"
>
  <i class="fas fa-arrow-up"></i>
</button>
