<div class="container-fluid">
<app-filter-offcanvas class="filter_btn mt-3 mx-2">
  <app-order-search (submitted)="onNewSearch($event)" (pageCount)="onPageChange($event)"
    (newQuery)="onQueryChange($event)" [count]="count" [page]="page">
  </app-order-search>
</app-filter-offcanvas>

<div class="empty-container d-flex justify-content-center align-items-center" *ngIf="orders.length === 0 || isEmpty">
  <app-empty></app-empty>
</div>
<div class="container-fluid flex-row flex-wrap mt-5" #ordersPage>
  <div class="justify-content-start row flex-wrap">
    <div class="col-xl-4 col-lg-6 col-md-12 flex-wrap" *ngFor="let order of orders">
      <app-order-card [order]="order"></app-order-card>
    </div>
  </div>
  <!-- <button
    (click)="scrollToTop()"
    type="button"
    class="btn btn-dark btn-floating btn-lg"
    id="btn-back-to-top"
  >
    <i class="fas fa-arrow-up"></i>
  </button> -->
</div>

<div *ngIf="orders.length !== 0" class="  d-flex justify-content-between pagination-container">
  <label >{{ ordersCount }} total</label>
  <ngb-pagination
    class="mt-2"
    [collectionSize]="count"
    [(page)]="page"
    (pageChange)="refreshPagination()"
    [pageSize]="pageSize"
  ></ngb-pagination>
</div>
</div>
