.overflowScss {
  height:100vh;
  overflow-y: scroll;
}
div{
  scroll-behavior: smooth;
}
#btn-back-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: block;

}
.widthOfCard{
  width:350px;
}

.filter_btn{
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
}

.hidden_overflow{
  scrollbar-width: none; 

  
}