@import "./../../../../variables.scss";
.card-color{
  background-color: $card-color !important;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  -o-border-radius: .5em;
  /* box-shadow: 2px 2px 20px $paragraph-color; */
}
.image-container{
  height: 300px;
  padding-top: 1rem;
}
h5{
  font-size: 1.25rem;
  color: $product-color;
  font-weight: 600;
}
h6{
  font-size: 1.25rem;
  color: $user-color;
  font-weight: 500;
}
p{
  font-weight: 400;
  font-size: 1rem;
  height: 14vh;
  color: $paragraph-color;
}
button{
  font-size: small;
  font-weight: 500;
}
span{
  font-size: large;
  font-weight: 500;
}
/* #productEdit{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: .5em;
}
#productEdit a{
  text-decoration: none;
} */
.productPrice{
  color: $price-color;
}
.userName{
  color:$user-color
}
.productName{
  color:$product-color
}

