<div class="card shadow m-4 text-start" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title mb-4">Order No. #{{cardDetails._id}}</h5>
      <p class="card-text">Seller: {{cardDetails.sellerId.firstName}} {{cardDetails.sellerId.lastName}}</p>
      <p class="card-text">Buyer: {{cardDetails.buyerId.firstName}} {{cardDetails.buyerId.lastName}}</p>
      <p class="card-text">Total Price: {{cardDetails.totalPrice}}</p>
      <p class="card-text">Total Price: {{cardDetails.status}}</p>
      <a href="#" class="btn btn-outline-dark">Go somewhere</a>
    </div>
  </div>
