<div class="d-flex justify-content-center align-items-center min-vh-100 bg">
  <div class="card position-relative m-5 w-lg-75 rounded-bubble bg-opacity" style="min-width: 20rem; max-width: 50rem;">
    <div class="shadow rounded-circle bg-light position-absolute top-0 start-50 translate-middle mb-5">
      <img src="../../../../assets/admin-avatar.png" class="rounded-circle w-h-10" alt="...">
    </div>
    <form class="d-flex flex-column align-items-center justify-content-center mt-5" #loginForm="ngForm"
    (ngSubmit)="submitForm(loginForm)">
    <div class="card-body p-4 col-12">
        <div class="my-4">
          <div class="input-group border-blue">
            <span class="input-group-text border-blue bg-white bg-input"><i class="fa-solid fa-at"></i></span>
            <input type="text" ngModel name="email" placeholder="Email Address" #email="ngModel"
              class="form-control border-blue bg-input test-color" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              id="exampleInputEmail1" aria-describedby="emailHelp" required>
          </div>
          <div class="text-danger" *ngIf="email.invalid && email.touched">
            <small *ngIf="email.errors?.['required']">
              This field is required
            </small>
            <small *ngIf="email.errors?.['pattern']">
              Enter a valid email
            </small>
          </div>
        </div>
        <div class="my-4">
          <div class="mb-4">
            <div class="input-group border-blue">
              <span class="input-group-text border-blue bg-white bg-input"><i class="fa-solid fa-key"></i></span>
              <input type="password" ngModel name="password" #password="ngModel"
                class="form-control border-blue bg-input test-color" id="exampleInputPassword1" required>
            </div>
            <div class="text-danger" *ngIf="password.invalid && password.touched">
              <small *ngIf="password.errors?.['required']">
                This field is required
              </small>
            </div>
  
          </div>
        </div>
        <small class="text-danger">{{resError}}</small>
      </div>
      <button type="submit" [disabled]="loginForm.invalid" class="btn bg-white btn-rounded mb-4 col-4">Submit</button>
    </form>
  </div>
  
</div>
