.container-category {
  .category-wrapper {
    width: 100%;
    margin-bottom: 0.5rem;
    .card {
      border: 0px;
      .editCategory {
        @extend .list-group-item;
        display: flex;
        flex-direction: column;
      }
      .list-group-item {
        cursor: pointer;
        border: none;
        border-bottom: 1px solid rgb(230, 230, 230);
        font-size: 1.1rem;
        display: flex;
        justify-content: space-between;
        .icon {
          color: gray;
          padding: 8px;
          &:hover {
            border-radius: 5px;
            background-color: black;
            color: white;
          }
        }
      }
      form {
        display: flex;
        flex-direction: column;
      }
    }
    .add-icon {
      float: right;
      color: black;
      font-size: 1.1rem;
      margin-right: 1.25rem;
      padding: 5px;
      &:hover {
        border-radius: 5px;
        background-color: black;
        color: white;
      }
    }
  }
  .categ-list {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bolder;
  }
}
