<section class="container-category shadow-lg">
    <div class="category-wrapper">
        <p class="categ-list" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
            Category
            <label>
                <i class="fa-solid fa-chevron-down"></i>
            </label>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="card">
                <div class="card-body px-2 py-0">
                    <ul class="list-group">
                        <li class="list-group-item ">Pizza
                            <i class="fa-solid fa-ellipsis-vertical icon"></i>
                        </li>
                        <li class="list-group-item ">Sandwich
                            <i class="fa-solid fa-ellipsis-vertical icon"></i>
                        </li>
                        <li class="list-group-item ">Meals
                            <i class="fa-solid fa-ellipsis-vertical icon"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="category-wrapper shadow-lg">
        <p class="categ-list" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
            Status
            <label>
                <i class="fa-solid fa-chevron-down"></i>
            </label>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="card">
                <div class="card-body px-2 py-0">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="pending">
                            Pending
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="pending">
                            Blocked
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>