.container-category {
  width: 250px;
  margin-top: 3rem;
  border-radius: 3px;
  border: 2px solid rgb(230, 230, 230);

  .category-wrapper {
    padding: 7px;
    .card {
      border: 0px;
      .list-group-item {
        cursor: pointer;
        border: none;
        border-bottom: 1px solid rgb(230, 230, 230);
        font-size: 1.1rem;
        display: flex;
        justify-content: space-between;
        .icon {
          color: gray;
        }
        &:hover {
          padding-left: 1rem;
          background-color: rgb(189, 189, 189);
        }
      }
    }
  }
  .categ-list {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bolder;
  }
}
