<!-- <iframe class="chart m-4" width="400" height="250"
    src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6230fa65-0b71-4c93-8c77-86e7bb42ab14&maxDataAge=3600&theme=light&autoRefresh=true"></iframe> -->

<!-- products on time scale -->
<!-- 
<iframe
  class="chart m-4"
  width="94%"
  height="50%"
  class="m-2"
  src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6231bf77-2652-4773-8866-489572718b10&maxDataAge=3600&theme=light&autoRefresh=true"
></iframe> -->

<iframe
  class="m-2"
  style="
    background: #21313c;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
  "
  width="100%"
  height="480"
  src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6231bf77-2652-4773-8866-489572718b10&maxDataAge=3600&theme=dark&autoRefresh=true"
></iframe>
<!-- <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6231bf77-2652-4773-8866-489572718b10&maxDataAge=3600&theme=light&autoRefresh=true"></iframe> -->

<!-- Sellers status -->

<!-- <iframe
  class="chart m-4"
  width="45%"
  height="50%"
  class="m-2"
  src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6230fa65-0b71-4c93-8c77-86e7bb42ab14&maxDataAge=3600&theme=light&autoRefresh=true"
></iframe> -->

<iframe
  style="
    background: #21313c;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
  "
  class="m-2"
  width="640"
  height="480"
  src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6230fa65-0b71-4c93-8c77-86e7bb42ab14&maxDataAge=3600&theme=dark&autoRefresh=true"
></iframe>
<!-- Buyer Status -->
<!-- 
<iframe
  class="chart m-4"
  width="45%"
  height="50%"
  class="m-2"
  src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6231bba8-0cf8-47a4-84a4-369e321d57c4&maxDataAge=3600&theme=light&autoRefresh=true"
></iframe> -->
<iframe
  style="
    background: #21313c;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
  "
  class="m-2"
  width="640"
  height="480"
  src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6231bba8-0cf8-47a4-84a4-369e321d57c4&maxDataAge=3600&theme=dark&autoRefresh=true"
></iframe>
<!-- Buyers accounts created on time scale -->
<iframe
  style="
    background: #21313c;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
  "
  width="100%"
  height="480"
  class="m-2"
  src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6231c9b4-9c1f-4bf6-8bb0-76827b1d54f5&maxDataAge=3600&theme=dark&autoRefresh=true"
></iframe>
<!-- Sellers accounts created on time scale -->
<iframe
  style="
    background: #21313c;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
  "
  width="100%"
  height="480"
  class="m-2"
  src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6231ca23-9c1f-43c9-89c7-76827b1d78c5&maxDataAge=3600&theme=dark&autoRefresh=true"
></iframe>

<!-- Buyer Status dark -->

<iframe
  style="
    background: #21313c;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
  "
  width="640"
  height="480"
  class="m-2"
  src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6231bba8-0cf8-47a4-84a4-369e321d57c4&maxDataAge=3600&theme=dark&autoRefresh=true"
></iframe>
<!-- Products status -->
<iframe
  style="
    background: #21313c;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
  "
  class="m-2"
  width="640"
  height="480"
  src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6231c7a2-af95-4edc-8dcf-f51c25203dcf&maxDataAge=3600&theme=dark&autoRefresh=true"
></iframe>

<!-- Products ratings -->

<iframe
  style="
    background: #21313c;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
  "
  width="640"
  height="480"
  class="m-2"
  src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6231cc31-9c1f-4a21-8324-76827b1e5000&maxDataAge=3600&theme=dark&autoRefresh=true"
></iframe>

<!-- Orders on time scale  (It's working, the data isn't sane)-->

<iframe
  style="
    background: #21313c;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
  "
  width="640"
  height="480"
  class="m-2"
  src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6231c834-9c1f-4b90-80d8-76827b1cb28c&maxDataAge=3600&theme=dark&autoRefresh=true"
></iframe>

<!-- Orders on time scale -->

<iframe
  style="
    background: #21313c;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
  "
  width="640"
  height="480"
  class="m-2"
  src="https://charts.mongodb.com/charts-food-lancer-monxk/embed/charts?id=6231c895-37fd-4ca8-84bb-995052c4b93d&maxDataAge=3600&theme=dark&autoRefresh=true"
></iframe>
