.w-h-even{
    width: 15vw;
    height: 15vw;
}
.bg-cover{
    background-image: url("../../../../assets/bg-seller.jpg");
    background-size: cover;
    height: 25vw;
}

.h-10{
    height: 10% !important;
}