<div #sideBar [ngClass]="status ? 'active' : ''" class="sidebar sticky-top sideBarTabeltScreen">
  <div class="logo_content">
    <div class="logo logoTabletScreen" [ngClass]="status ? 'active_logo' : ''">
      <i class="fa-solid fa-utensils pe-3"></i>
      <div class="logo_name">Food Lancer</div>
    </div>
    <i
      (click)="clickEvent()"
      [ngClass]="status ? 'left_btn' : ''"
      class="fa-solid fa-bars btnTabeltScreen"
      id="btn"
    ></i>
  </div>
  <ul class="nav_list">
    <li>
      <a routerLink="/home" routerLinkActive="bg-light text-dark ps-1 text-center">
        <i class="fa-solid fa-house-chimney"></i>
        <span [ngClass]="status ? 'active_links_name' : ''" class="links_name linksNameTabeltScreen"
          >Home</span
        ></a
      >
      <span [ngClass]="status ? 'active_tool' : ''" class="tool">Home</span>
    </li>
    <li>
      <a routerLink="/seller" routerLinkActive="bg-light text-dark ps-1 text-center"
        ><i class="fa-brands fa-sellcast"></i
        ><span [ngClass]="status ? 'active_links_name' : ''" class="links_name linksNameTabeltScreen"
          >Seller</span
        ></a
      >
      <span [ngClass]="status ? 'active_tool' : ''" class="tool">Seller</span>
    </li>
    <li>
      <a routerLink="/buyer" routerLinkActive="bg-light text-dark ps-1 text-center"
        ><i class="fa-solid fa-person"></i
        ><span [ngClass]="status ? 'active_links_name' : ''" class="links_name linksNameTabeltScreen"
          >Buyer</span
        ></a
      >
      <span [ngClass]="status ? 'active_tool' : ''" class="tool">Buyer</span>
    </li>
    <li>
      <a routerLink="/product" routerLinkActive="bg-light text-dark ps-1 text-center"
        ><i class="fa-brands fa-product-hunt"></i
        ><span [ngClass]="status ? 'active_links_name' : ''" class="links_name linksNameTabeltScreen"
          >Product</span
        ></a
      >
      <span [ngClass]="status ? 'active_tool' : ''" class="tool">Product</span>
    </li>
    <li>
      <a routerLink="/order" routerLinkActive="bg-light text-dark ps-1 text-center"
        ><i class="fa-brands fa-jedi-order"></i
        ><span [ngClass]="status ? 'active_links_name' : ''" class="links_name linksNameTabeltScreen"
          >Order</span
        ></a
      >
      <span [ngClass]="status ? 'active_tool' : ''" class="tool">Order</span>
    </li>
    <li>
      <a routerLink="/coverageArea" routerLinkActive="bg-light text-dark ps-1 text-center"
        ><i class="fa-solid fa-location-dot"></i>
        <span [ngClass]="status ? 'active_links_name' : ''" class="links_name linksNameTabeltScreen"
          >Coverage Area</span
        ></a
      >
      <span [ngClass]="status ? 'active_tool' : ''" class="tool"
        >Coverage Area</span
      >
    </li>
  </ul>
  <div class="profile_content">
    <div class="profile">
      <div
        [ngClass]="status ? 'pofile_details_active' : ''"
        class="profile_details profile_detailsTabletScreen"
      >
        <img
          id="adminImg"
          src="../assets/elmaestro2.JPG"
          class="img-fluid rounded-circle"
          alt=""
        />
        <div class="name_jop">
          <div class="name">Bilal A Mohammed</div>
          <div class="jop py-1" routerLink="/account/register">
            add Admin
              <i class="ps-5 ms-4 fa-solid fa-user-plus"></i>
          </div>
        </div>
      </div>
      <i
        [ngClass]="status ? 'logout_active' : ''"
        class="fa-solid fa-right-from-bracket logoutTabletScreen"
        id="logout"
      ></i>
    </div>
  </div>
</div>
