.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background-color: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
}
.active {
  width: 240px !important;
}
.sidebar .logo_content .logo {
  display: flex;
  color: #fff;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
.active_logo {
  opacity: 1 !important;
  pointer-events: auto !important;
}
.logo_content .logo i {
  font-size: 28px;
}
.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn {
  color: #fff;
  position: absolute;
  left: 45%;
  top: 6px;
  font-size: 25px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.left_btn {
  left: 90% !important;
}
.sidebar ul {
  margin-top: 20px;
  margin-left: -30px;
}
.sidebar ul li {
  list-style: none;
  position: relative;
  height: 50px;
  width: 100%;
  margin: 20px 5px;
  line-height: 50px;
}

.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.active_links_name {
  opacity: 1 !important;
  font-size: 20px;
  pointer-events: auto !important;
}

.sidebar ul li .tool {
  position: absolute;
  height: 35px;
  left: 60px;
  transform: translateY(-50%);
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  top: 0;
  width: 122px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  pointer-events: none;
  opacity: 0;
  display: block;
}
.active_tool {
  display: none !important;
}
.sidebar ul li:hover .tool {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
}
.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}
.sidebar ul li a:hover {
  color: #11101d;
  background-color: #fff;
  text-align: center;
  padding-left: 4px;
}
.sidebar ul li a i {
  height: 50px;
  min-width: 35px;
  font-size: 25px;
  border-radius: 12px;
  line-height: 50px;
}
.sidebar .profile_content {
  position: absolute;
  color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
}
.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background-color: #1d1b31;
}
.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.pofile_details_active {
  opacity: 1 !important;
  pointer-events: auto !important;
}
#adminImg {
  width: 50px;
  height: 50px;
}
.profile .profile_details .name_jop {
  margin-left: 10px;
}
.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}
.profile .profile_details .jop {
  font-size: 15px;
}
.profile #logout {
  position: absolute;
  left: 60%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 65px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}
.logout_active {
  left: 92% !important;
}
$breakpoint-tablet: 840px;
@media (max-width: $breakpoint-tablet) {
  .sideBarTabeltScreen {
    width: 78px !important;
  }
  .logoTabletScreen {
    opacity: 0 !important;
    pointer-events: none !important;
  }
  .btnTabeltScreen {
    left: 45% !important;
  }
  .linksNameTabeltScreen{
    opacity: 0 !important;
    pointer-events: none !important;
  }
  .logoutTabletScreen{
  left: 60% !important;

  }
  .profile_detailsTabletScreen{
    opacity: 0 !important;
    pointer-events: none !important;
  }
}
<<<<<<< HEAD
.sidebar .profile_content{
    position: absolute;
    color: #fff;
    width: 100%;
    bottom: 0;
    left: 0;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background-color: #1d1b31;
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.pofile_details_active{
    opacity: 1 !important;
    pointer-events: auto !important;
}
#adminImg{
     width: 50px;
    height: 50px;
}
.profile .profile_details .name_jop{
    margin-left: 10px;
}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .jop{
    font-size: 15px;
}
.profile #logout{
    position: absolute;
    left: 60%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 65px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}
.logout_active{
    left: 92% !important;
}
=======
>>>>>>> 37aec8d3d43221fad4fabb49835aafb3da2673ac
