<div class="d-flex" id="wrapper">
    <div class="bg-dark text-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
      <div class="sidebar-heading"><i class="fa-solid fa-utensils pe-3"></i>Food Lancer</div>
      <div class="d-flex flex-column align-items-center">
        <img id="adminImg" src="../assets/elmaestro2.JPG" class="img-fluid rounded-circle "  alt="">
        <p class="fw-bold pt-2"><i class="fa-solid fa-lock pe-1"></i> Bilal Ahmed</p>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-house"></i></button>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-user"></i></button>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-right-from-bracket"></i></button>
      </div>
      <div class="list-group bg-dark list-group-flush">
        <a routerLink="" class="list-group-item list-group-item-action bg-dark text-secondary fw-bold fs-5 p-4"><i class="fa-brands fa-product-hunt pe-2"></i>Product</a>
        <a routerLink="" class="list-group-item list-group-item-action bg-dark text-secondary fw-bold fs-5 p-4"><i class="fa-brands fa-sellcast pe-2"></i>Seller</a>
        <a routerLink="" class="list-group-item list-group-item-action bg-dark text-secondary fw-bold fs-5 p-4"><i class="fa-brands fa-jedi-order pe-2"></i>Order</a>
        <a routerLink="" class="list-group-item list-group-item-action bg-dark text-secondary fw-bold fs-5 p-4"><i class="fa-solid fa-person pe-2"></i>Buyer</a>
        <a routerLink="" class="list-group-item list-group-item-action bg-dark text-secondary fw-bold fs-5 p-4"><i class="fa-solid fa-location-dot pe-1"></i> Coverage Area</a>
        <a routerLink="" class="list-group-item list-group-item-action bg-dark text-secondary fw-bold fs-5 p-4"><i class="fa-solid fa-border-all pe-1"></i> Category</a>
  
      </div>
    </div>
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="btn" (click)="clickEvent()"><span class="navbar-toggler-icon"></span></button>
        </div>
      </nav>
    </div>
  </div>
  