<app-buyer-info [id] = "id"></app-buyer-info>
<div class="container">
    <div class="m-4 text-center display-5">Orders</div>
    <div *ngIf="!orders[0]" class="py-5 text-center">No Orders Yet</div>
    <div *ngIf="orders[0]" class="d-flex justify-content-around row flex-wrap">
        <div class="col-lg-4 col-md-6 col-sm-8" *ngFor="let card of viewCards">
            <app-order-card  [order]="card"></app-order-card>
        </div>
        <button *ngIf="orders[3]" class="btn my-2" (click)="showMore()">{{isReadMore? 'See Less': 'See More'}}</button>
    </div>
</div>