.form-switch{
    .form-check-input{
        width: 3em;
        height: 20px;
    }
}
.notFoundData{
    text-align: center;
    font-size: 1.2rem;
}
.table{
    thead {
        border-bottom: 2px solid #d6d6d6;
        background-color: #f9f9f9;
        th{
            border-top: none;
            font-size: 0.8rem;
            font-weight: 500;
            color: #596677;
        }
    }
    tbody{
        
        tr{
            &:hover{
                background-color: #bebebe;
            }
            td{
                font-size: 1rem;
                .rate{
                    width: 25px;
                }
                .status{
                    width: 60px;
                }
                .prof-icon{
                    text-align: right;
                    font-size: 25px;
                    cursor: pointer;

                }
            }
        }
    }
    
}
.pagination-container{
    border-top: 1px solid #596677;
    color: #596677;
    label{
        align-self: center;
    }
}