<div>
    <ng-template [ngIf]="tableData.length ==0">
        <p class="notFoundData col-12 text-danger">
            Query not match any data
        </p>
    </ng-template>
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let colData of tableHeader" scope="col">{{colData}}</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let row of tableData">

                <td>
                    {{row.userName}}
                </td>
                <td>
                    {{row.email}}
                </td>
                <!-- this for  seller data-->
                <ng-template [ngIf]="row.coverageArea">
                    <td>
                        {{row.coverageArea.governorateName}}
                    </td>
                    <td>
                        {{row.coverageArea.regionName}}
                    </td>
                    <td>
                        <span class=" rate badge" [ngClass]="{
                            'bg-danger': row.rate < 2.5,
                            'bg-success' : row.rate >= 4,
                            'bg-primary' : row.rate <= 3.9 && row.rate >= 2.5 }">
                            {{row.rate}}</span>
                    </td>
                </ng-template>
                <!-- this for buyer data -->
                <ng-template [ngIf]="row.address">
                    <td>
                        {{row.address}}
                    </td>
                    <td>
                        {{row.phone}}
                    </td>
                </ng-template>
                <td>
                    <span class="status badge"
                        [ngClass]="{' bg-warning text-dark': row.status == 'pending', ' bg-primary' : row.status == 'active', ' bg-dark' : row.status == 'blocked' }">
                        {{ row.status}}</span>
                </td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                            [checked]="row.status !== 'blocked'" (change)="changeStatus($event,row._id)" value={{row.status}}>
                    </div>
                </td>
                <td [routerLink]="['details',row._id]">
                    <i class="prof-icon fa-solid fa-user"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination-container d-flex justify-content-between p-2">
        <label>{{collectionSize}} total</label>
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshPagination()">
        </ngb-pagination>
    </div>
</div>