<div class="container">
    <form>
        <div class="mb-3 row d-flex justify-content-end">
            <div class="col-xs-3 col-sm-auto">
                <input id="table-filtering-search" placeholder="Search By User Name" name="searchInput" class="form-control"
                    type="text" [(ngModel)]="searchValue" (ngModelChange)="onSearchChange($event)">
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let colData of tableHeader" scope="col">{{colData}}</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let seller of sellers |searchFilterTable:searchValue"> -->
            <tr *ngFor="let seller of sellers">
                <td>
                    {{seller.userName}}
                </td>
                <td>
                    {{seller.email}}
                </td>
                <td>
                    {{seller.coverageArea.governorateName}}
                </td>
                <td>
                    {{seller.coverageArea.regionName}}
                </td>
                <td>
                    <span class=" rate badge" [ngClass]="{
                        'bg-danger': seller.rate < 2.5,
                        'bg-success' : seller.rate >= 4,
                        'bg-primary' : seller.rate <= 3.9 && seller.rate >= 2.5 }">
                        {{seller.rate}}</span>

                </td>
                <td>
                    <span class="status badge"
                        [ngClass]="{' bg-warning text-dark': seller.status == 'pending', ' bg-primary' : seller.status == 'active', ' bg-dark' : seller.status == 'blocked' }">
                        {{seller.status}}</span>
                </td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]="seller.status !== 'blocked'">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination-container d-flex justify-content-between p-2">
        <label>{{sellersData.length}} total</label>
        <ngb-pagination [collectionSize]="sellersData.length" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshCountries()">
        </ngb-pagination>
    </div>
</div>