<div class="card text-center cardColor">
    <div class="m-4 display-5">Products</div>
    <div *ngIf="!cards[0]" class="py-5 text-center">No Products Yet</div>
    <div *ngIf="cards[0]">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div *ngFor="let card of viewCards" class="card col-lg-3 col-md-10 m-1 bg-transparent ">
                <app-product-card [product] = 'card'></app-product-card>
              </div>
        </div>
        <button *ngIf="cards[3]" class="btn w-100 my-2" (click)="showMore()">{{isReadMore? 'See Less': 'See More'}}</button>
    </div>

</div>

