<div class="card text-center cardColor">
    <div class="m-4 display-5">Products</div>
    <div *ngIf="!cards" class="py-5 text-center">No Products Yet</div>
    <div *ngIf="cards">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div *ngFor="let card of viewCards" class="col-xl-4 col-lg-6 col-md-12 py-3 bg-transparent ">
                <app-product-card [product] = 'card'></app-product-card>
              </div>
        </div>
        <button *ngIf="cards[3]" class="btn w-100 my-2" (click)="showMore()">{{isReadMore? 'See Less': 'See More'}}</button>
    </div>

</div>

