<section class="container">
    <label class="filter-label">Filter</label>
    <input type="text" class="form-control" placeholder="Search By Email" >
    <div class="status-filter">
        <label class="title mx-3">Status</label>
        <div class="list-group">
            <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="pending">
                Pending
            </label>
            <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="active">
                Active
            </label>
            <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="blocked">
                Blocked
            </label>
        </div>
    </div>
</section>