.mi{
  border: 3px solid red;
}


.pagination-container{
  border-top: 1px solid #596677;
  color: #596677;
  margin-top: 4%;
  label{
      align-self: center;
  }
}
#delete:hover{
  cursor: pointer;
}
