<div class="empty-container d-flex justify-content-center align-items-center" *ngIf="products.length === 0 || errorStatement ">
  <app-empty></app-empty>
</div>
<div >
<div *ngIf="!errorStatement" >
  <div class="productLists ">
    <div class="row justify-content-lg-start justify-content-md-center justify-content-sm-center bg-transparent">
      <div *ngFor="let product of products" class="card col-xl-4 col-lg-6 col-md-8 py-3 bg-transparent ">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </div>
</div>
<div *ngIf="products.length !== 0" class="d-flex justify-content-between">
  <label>{{ collectionSize }} total</label>
  <ngb-pagination
    (pageChange)="newPageNumber($event)"
    [collectionSize]="collectionSize"
    [page]="page"
    [pageSize]="pageSize"
  ></ngb-pagination>
</div>
