<div class="card my-3 shadow-lg rounded-3 card-color" style="min-width: 20rem">
  <div class="row ps-3 justify-content-between pt-3">
    <div class="d-flex flex-column col-12">
      <h6 class="card-title fw-bold">Order #{{ order._id }}</h6>
      <small class="card-text text-secondary">{{
        order?.createdAt | date: "medium"
      }}</small>
    </div>
  </div>
  <div class="card-body d-flex flex-column justify-content-between">
    <div class="overflow-auto" style="max-height: 388px">
      <div
        class="row pb-2 justify-content-between mx-0"
        *ngFor="let product of order?.products"
      >
        <div class="col-4">
          <img
            [src]="product._id?.image[0].url"
            class="round-img img-fluid rounded-circle"
            alt=".."
          />
        </div>
        <div class="col-8 d-flex flex-column">
          <h6>{{ product._id?.name }}</h6>
          <small
            id="showDes"
            class="py-2"
            class="card-text text-secondary"
            placement="bottom"
            ngbTooltip="{{ product._id?.description }}"
            container="body"
            >show description</small
          >

          <div class="d-flex justify-content-between">
            <small class="fw-bold"
              >{{ product._id?.price | currency: "EGP " }}
            </small>
            <small class="fw-bold">Qty: {{ product?.quantity }}</small>
          </div>
          <hr />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="col-9 d-flex flex-column">
        <h6 class="fw-bold">
          Seller Name :
          <small class="text-secondary">
            {{
              order.sellerId.firstName + " " + order.sellerId.lastName
                | titlecase
            }}
          </small>
        </h6>
        <h6 class="fw-bold">
          Buyer Name :
          <small class="text-secondary">
            {{
              order.buyerId.firstName + " " + order.buyerId.lastName | titlecase
            }}
          </small>
        </h6>
      </div>
      <div class="d-flex flex-column col-3 ps-3">
        <small class="text-secondary pb-2">X2 Items</small>
        <small class="fw-bold text-center">{{ order?.totalPrice }}</small>
      </div>
    </div>
  </div>
</div>
