@import "./../../../../variables.scss";
.card-color{
  background-color: $card-color!important;
}
.round-img {
  height: 75px !important;
}
.widthOfCard{
  width:31.5%;
}
#showDes:hover{
cursor: pointer !important;
}
