<div class="card m-4 " style="width: 27vw;">
  <p class="card-head p-3 text-center m-4 display-6">Let's get started!</p>
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="card-body m-2">
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">First Name</label>
      <input type="text" formControlName="firstName" class="form-control" id="exampleInputName">
      <div class="text-danger" *ngIf="formControls['firstName'].invalid && formControls['firstName'].touched">
        <small *ngIf="formControls['firstName'].errors?.['required']">
          This field is required
        </small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Last Name</label>
      <input type="text" formControlName="lastName" class="form-control" id="exampleInputName">
      <div class="text-danger" *ngIf="formControls['lastName'].invalid && formControls['lastName'].touched">
        <small *ngIf="formControls['lastName'].errors?.['required']">
          This field is required
        </small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1">
      <div class="text-danger" *ngIf="formControls['email'].invalid && formControls['email'].touched">
        <small *ngIf="formControls['email'].errors?.['required']">
          This field is required
        </small>
        <small *ngIf="formControls['email'].errors?.['pattern']">
          Enter a valid email
        </small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputUserName" class="form-label">User Name</label>
      <input type="text" formControlName="userName" class="form-control" id="exampleInputUserName">
      <div class="text-danger" *ngIf="formControls['userName'].invalid && formControls['userName'].touched">
        <small *ngIf="formControls['userName'].errors?.['required']">
          This field is required
        </small>
        <small *ngIf="formControls['userName'].errors?.['pattern']">
          Enter a valid username
        </small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="text" formControlName="password" class="form-control" id="exampleInputPassword1">
      <div class="text-danger" *ngIf="formControls['password'].invalid && formControls['password'].touched">
        <small *ngIf="formControls['password'].errors?.['required']">
          This field is required
        </small>
        <small *ngIf="formControls['password'].errors?.['pattern']">
          Enter a valid password
        </small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
      <input type="text" formControlName="confirmPasswordField" class="form-control" id="exampleInputPassword2">
      <div class="text-danger"
        *ngIf="(formControls['confirmPasswordField'].invalid || notSameError) && formControls['confirmPasswordField'].touched">
        <small *ngIf="formControls['confirmPasswordField'].errors?.['required']">
          This field is required
        </small>
        <small *ngIf="notSameError && !formControls['confirmPasswordField'].errors?.['required']">
          Invalid
        </small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputUserName" class="form-label">Phone</label>
      <input type="text" formControlName="phone" class="form-control" id="exampleInputUserName">
      <div class="text-danger" *ngIf="formControls['phone'].invalid && formControls['phone'].touched">
        <small *ngIf="formControls['phone'].errors?.['required']">
          This field is required
        </small>
        <small *ngIf="formControls['phone'].errors?.['pattern']">
          Enter a valid phone number
        </small>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="inputGroupFile02">Upload An Image</label>
      <input type="file" formControlName="image" class="form-control" id="inputGroupFile02">
      <div class="text-danger" *ngIf="formControls['image'].invalid && formControls['image'].touched">
        <small *ngIf="formControls['image'].errors?.['required']">
          This field is required
        </small>
        <small *ngIf="formControls['image'].errors?.['pattern']">
          Upload a valid image
        </small>
        <small *ngIf="formControls['image'].errors?.['inValidSize']">
          Size is way too big
        </small>
      </div>
    </div>
    <button type="submit"  class="btn btn-dark my-3">Submit</button>
  </form>

</div>
