<div class="card position-relative m-5 w-lg-75 rounded-bubble bg-opacity" style="min-width: 24rem; max-width: 50rem;">
  <div class="shadow rounded-circle bg-light position-absolute top-0 start-50 translate-middle mb-5">
    <img src="../../../../assets/admin-avatar.png" class="rounded-circle w-h-10" alt="...">
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="d-flex flex-column align-items-center justify-content-center mt-4">
    <div class="card-body p-4 col-12">
      <h5 class="text-center mb-4 label-blue">Sign Up Now!</h5>
      <div class="mb-4">
        <div class="input-group border-blue">
          <span class="input-group-text border-blue bg-white bg-input"><i class="fa-solid fa-person mx-1"></i></span>
          <input type="text" formControlName="firstName" placeholder="First Name" class="form-control border-blue bg-input test-color" id="exampleInputName">
        </div>
        <div class="text-danger" *ngIf="formControls['firstName'].invalid && formControls['firstName'].touched">
          <small *ngIf="formControls['firstName'].errors?.['required']">
            This field is required
          </small>
        </div>
      </div>
      <div class="mb-4">
        <div class="input-group border-blue">
          <span class="input-group-text border-blue bg-white bg-input"><i class="fa-solid fa-people-roof"></i></span>
          <input type="text" formControlName="lastName" placeholder="Last Name" class="form-control border-blue bg-input test-color" id="exampleInputName">
        </div>
        <div class="text-danger" *ngIf="formControls['lastName'].invalid && formControls['lastName'].touched">
          <small *ngIf="formControls['lastName'].errors?.['required']">
            This field is required
          </small>
        </div>
      </div>
      <div class="mb-4">
        <div class="input-group border-blue">
          <span class="input-group-text border-blue bg-white bg-input"><i class="fa-solid fa-at me-1"></i></span>
          <input type="email" formControlName="email" placeholder="Email address" class="form-control border-blue bg-input test-color" id="exampleInputEmail1">
        </div>

        <div class="text-danger" *ngIf="formControls['email'].invalid && formControls['email'].touched">
          <small *ngIf="formControls['email'].errors?.['required']">
            This field is required
          </small>
          <small *ngIf="formControls['email'].errors?.['pattern']">
            Enter a valid email
          </small>
        </div>
      </div>
      <div class="mb-4">
        <div class="input-group border-blue">
          <span class="input-group-text border-blue bg-white bg-input"><i class="fa-solid fa-circle-user me-1"></i></span>
          <input type="text" formControlName="userName" placeholder="User Name" class="form-control border-blue bg-input test-color" id="exampleInputUserName">
        </div>
        
        <div class="text-danger" *ngIf="formControls['userName'].invalid && formControls['userName'].touched">
          <small *ngIf="formControls['userName'].errors?.['required']">
            This field is required
          </small>
          <small *ngIf="formControls['userName'].errors?.['pattern']">
            Enter a valid username
          </small>
        </div>
      </div>
      <div class="mb-4">
        <div class="input-group border-blue">
          <span class="input-group-text border-blue bg-white bg-input"><i class="fa-solid fa-key me-1"></i></span>
          <input type="text" formControlName="password" placeholder="Password" class="form-control border-blue bg-input test-color" id="exampleInputPassword1">
        </div>
        
        <div class="text-danger" *ngIf="formControls['password'].invalid && formControls['password'].touched">
          <small *ngIf="formControls['password'].errors?.['required']">
            This field is required
          </small>
          <small *ngIf="formControls['password'].errors?.['pattern']">
            Enter a valid password
          </small>
        </div>
      </div>
      <div class="mb-4">
        <div class="input-group border-blue">
          <span class="input-group-text border-blue bg-white bg-input"><i class="fa-solid fa-key me-1"></i></span>
          <input type="text" formControlName="confirmPasswordField" placeholder="Confirm Password" class="form-control border-blue bg-input test-color" id="exampleInputPassword2">
        </div>
        
        <div class="text-danger"
          *ngIf="(formControls['confirmPasswordField'].invalid || notSameError) && formControls['confirmPasswordField'].touched">
          <small *ngIf="formControls['confirmPasswordField'].errors?.['required']">
            This field is required
          </small>
          <small *ngIf="notSameError && !formControls['confirmPasswordField'].errors?.['required']">
            Invalid
          </small>
        </div>
      </div>
      <div class="mb-2">
        <div class="input-group border-blue">
          <span class="input-group-text border-blue bg-white bg-input"><i class="fa-solid fa-phone me-1"></i></span>
          <input type="text" formControlName="phone" placeholder="Phone" class="form-control border-blue bg-input test-color" id="exampleInputUserName">
        </div>
        
        <div class="text-danger" *ngIf="formControls['phone'].invalid && formControls['phone'].touched">
          <small *ngIf="formControls['phone'].errors?.['required']">
            This field is required
          </small>
          <small *ngIf="formControls['phone'].errors?.['pattern']">
            Enter a valid phone number
          </small>
        </div>
      </div>
    </div>
    <button type="submit" class="btn bg-white btn-rounded mb-4 col-4">Submit</button>
  </form>
</div>
